/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v18/QldKNThLqRwH-OJ1UHjlKGlZ5qhExfHw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'), url(https://fonts.gstatic.com/s/inconsolata/v18/QldXNThLqRwH-OJ1UHjlKGHiw71p5_zaDpwm.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  border: 40;
  margin: 20;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 40px; */
  /* padding-bottom: 65px; */
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: white;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered {
  /* Magic here */
  display: grid;
  /* justify-content: flex-end; */
  justify-content: center;
  font-size: 22px;
  font-style: "inconsolata";
  color: white;
}

/* .stories{
  background-color: 	rgb(67, 24, 24, 0.4);
} */
.text{
  font-size: 22px;
  font-style: "inconsolata";
  color: white;

}

.new{
  color: black;


}

.container{
  display: flex;
}
.card-deck{
    margin: 10px;
}

.navbar-nav {
  justify-content: space-between;
}

.header{
  text-align: center;
  padding: 50px;
  color: white;
}

.leaflet-container {
  width: 70%;
  height: 60vh;
  border:10px double black;
}



span.input-group-addon {
  width: 40px !important;
}

.navbar,
.navbar-default {
    /* background-image: linear-gradient(to bottom,#2c4053 0,#2c4053 100%) !important; */
    /* override background image gradient w/ flat color */
    height: 100px;
    font-size: 30px;
    font-style: "inconsolata";

}


.formDiv{
  width:300;
}

.form-control {
  width: 80% !important;
}


.formAndMap{
  display: flex;
}

.headTitle{
  font-family:'Black Ops One', cursive;;
  color: gold;
}

.RoUK_Crime_Data {
  background-color: white;
  color: black;
  font-family: 'Inconsolata';
}

.newCrimes_ul{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 0.875rem;
  text-align:justify;
  list-style-type: none;
  min-width: 600px;
  max-width: 797px;
  box-sizing: border-box;
}


.newCrimesLi{
  padding: 15px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);


}

.SafetyTipListItem-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 800px;
  display: flex;
  align-self: center;
}
